# Môi trường ảo Python (Virtual Environments)
venv/
.venv/
env/
ENV/

# File cache tạm của Python & Jupyter Notebook
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# File tạm hệ thống (Windows / macOS)
.DS_Store
Thumbs.db

# File biến môi trường (chứa mật khẩu/API Key nếu có)
.env

# Thư mục cấu hình của trình soạn thảo code (VS Code / PyCharm)
.vscode/
.idea/